{% extends 'base.html' %}

{% block content %}
<div class="container my-5">
  <h2>Cập nhật trạng thái đơn hàng #{{ order.id }}</h2>
  <form method="post" class="mt-4">
    {% csrf_token %}
    <div class="mb-3">
      {{ form.status.label_tag }}
      {{ form.status }}
      {% if form.status.errors %}
        <div class="text-danger">{{ form.status.errors }}</div>
      {% endif %}
    </div>
    <button type="submit" class="btn btn-success">Cập nhật</button>
	    <a href="{% url 'shop:admin_order_list' %}" class="btn btn-secondary">Quay lại danh sách đơn hàng</a>
  </form>
</div>
{% endblock %}
